
.youtubeList {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.img {
    /*width: 200px;*/
    margin: 5px;
    border: #ccc solid 1px;
    cursor: pointer;
    border-radius: 10px;
}